
/*.contenu {*/
/*  !*background: url("detail4.jpg") no-repeat ;*!*/
/*  !*background-size: cover;*!*/
/*  background: url("https://res.cloudinary.com/muhammederdem/image/upload/v1537132206/news-slider/background.jpg") no-repeat;*/
/*}*/
#cov{
  margin-left: 300px;
  margin-top: 10px;
}
/*.bo {*/
/*  border: 1px black solid;*/
/*  border-bottom: 1px;*/
/*}*/

.card-title{
  font-size: 40px;
  font-family: Poppins, Helvetica, Arial, sans-serif;
  margin-left: 70px;
  margin-top: 15px;

}
button{
  margin-bottom: 15px;
  margin-left: 70px;

}

img{
height: 20rem;
  width: 40rem;
  margin-left: 70px;
}

.card-text {
  width: 40rem;
  margin-left: 50px;

}
a {
  width: 40rem;
  margin-left: 50px;
}

.load {
  margin-left: 560px;
  height: 212px;
  width: 300px;
}
