<section class= "section1" id="about">
  <div class= "container">
    <h1 class= "title">About us</h1>
    <div class= "content-wrapper">
      <div class= "img-wrapper">
        <div class= "img"><img src="assets/images/pic-3.png" alt=""></div>
      </div>
      <div class="text-wrapper">
        <p class= "text">Our site works when talented, passionate people come together.
        </p>
        <p class= "text">We help you find not only the best quality candidates and recruiters, but more of them.
        </p>
        <div class="btn-wrapper">
          <a href="#" class="btn">
            <span>More</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class= "section2"></section>
