<div class="banner">
  <div class="app-text">
    <h3>Have a question ?</h3>
    <h1>Visit<br>our forum</h1>
    <p>A forum is a place, situation, or group in which people exchange ideas and discuss issues,
      especially important public issues. </p>

    <div class="btn-group">

      <div class="play-btn">
        <div class="play-btn-inner">
          <i class="fa fa-play"></i>
        </div>
        <span>How it works?</span>
      </div>
    </div>
  </div>
  <div class="app-picture">
    <img src="assets/images/foum.jpg" alt="">
  </div>
</div>
