body{
  margin-top:10px;
  background:#eee;
}
.container{
  height: 100%;
  margin-top: 600px;
  font-family: 'Nunito', sans-serif;
}

.box {
  width: 58%;
  margin-left: 255px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.timeline {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative
}

.timeline:before {
  content: '';
  position: absolute;
  top: 5px;
  bottom: 5px;
  width: 5px;
  background: #2d353c;
  left: 20%;
  margin-left: -2.5px
}

.timeline>li {
  position: relative;
  min-height: 50px;
  padding: 20px 0;
  max-height: 200px;

}

.timeline .timeline-time {
  position: absolute;
  left: 0;
  width: 18%;
  text-align: right;
  top: 30px
}

.timeline .timeline-time .date,
.timeline .timeline-time .time {
  display: block;
  font-weight: 600
}

.timeline .timeline-time .date {
  line-height: 16px;
  font-size: 12px
}

.timeline .timeline-time .time {
  line-height: 24px;
  font-size: 20px;
  color: #242a30
}

.timeline .timeline-icon {
  left: 15%;
  position: absolute;
  width: 10%;
  text-align: center;
  top: 40px
}

.timeline .timeline-icon a {
  text-decoration: none;
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 20px;
  background: #d9e0e7;
  line-height: 10px;
  color: #fff;
  font-size: 14px;
  border: 5px solid #2d353c;
  transition: border-color .2s linear
}

.timeline .timeline-body {
  margin-left: 23%;
  margin-right: 17%;
  background: #fff;
  position: relative;
  padding: 20px 25px;
  border : 1px solid;
  border-radius: 6px

}

.timeline .timeline-body:before {
  content: '';
  display: block;
  position: absolute;
  border: 10px solid transparent;
  border-right-color: #fff;
  left: -20px;
  top: -20px
}

.timeline .timeline-body>div+div {
  margin-top: 15px
}

.timeline .timeline-body>div+div:last-child {
  margin-bottom: -20px;
  padding-bottom: 7px;
  border-radius: 0 0 6px 6px
}

.timeline-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #e2e7eb;
  line-height: 30px
}

.timeline-header .userimage {
  float: left;
  width: 34px;
  height: 34px;
  border-radius: 40px;
  overflow: hidden;
  margin: -2px 10px -2px 0
}

.timeline-header .username {
  font-size: 16px;
  font-weight: 600
}

.timeline-header .username,
.timeline-header .username a {
  color: #2d353c
}

.timeline img {
  max-width: 100%;
  display: block
}

.timeline-content {
  letter-spacing: .25px;
  line-height: 18px;
  font-size: 13px
}

.timeline-content:after,
.timeline-content:before {
  content: '';
  display: table;
  clear: both
}

.timeline-title {
  margin-top: 0
}

.timeline-footer {
  background: #fff;
  border-top: 1px solid #e2e7ec;
  padding-top: 15px
}

.timeline-footer a:not(.btn) {
  color: #575d63
}

.timeline-footer a:not(.btn):focus,
.timeline-footer a:not(.btn):hover {
  color: #2d353c
}

.timeline-likes {
  color: #6d767f;
  font-weight: 600;
  font-size: 12px
}

.timeline-likes .stats-right {
  float: right
}

.timeline-likes .stats-total {
  display: inline-block;
  line-height: 20px
}

.timeline-likes .stats-icon {
  float: left;
  margin-right: 5px;
  font-size: 9px
}

.timeline-likes .stats-icon+.stats-icon {
  margin-left: -2px
}

.timeline-likes .stats-text {
  line-height: 20px
}

.timeline-likes .stats-text+.stats-text {
  margin-left: 15px
}

.timeline-comment-box {
  background: #f2f3f4;
  margin-left: -25px;
  margin-right: -25px;
  padding: 20px 25px
}

.timeline-comment-box .user {
  float: left;
  width: 34px;
  height: 34px;
  overflow: hidden;
  border-radius: 30px
}

.timeline-comment-box .user img {
  max-width: 100%;
  max-height: 100%
}

.timeline-comment-box .user+.input {
  margin-left: 44px;
}

.lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.4;
}

.text-danger, .text-red {
  color: #ff5b57!important;
}

.banner {
  width: 80%;
  height: 70%;
  position: absolute;
  top: 5%;
  left: 150px;
  color: #fff;
}

.app-text {
  width: 50%;
  float: left;
  padding-left: 50px;
}

.app-text h3{
  margin-top: 100px;
  font-size: 17px;
  color: #000;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.app-text h1 {
  font-size: 51px;
  position: relative;
  color: #22427C;
  margin-top: 30px;
  font-weight: 700;
  line-height: 1;

}

.app-text p {
  font-size: 19px;
  margin:  30px 30px 30px 0;
  letter-spacing: 1px;
  color: #000;
  padding-right: 50px;
}
.btn-group {
  display: flex;
  width: 100%;
  position: relative;
}
.btn-group .signup-btn {
  cursor: pointer;
  display: block;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  border-radius: 32px;
  background-color: #22427C;
  padding: 15px 50px;
}

.btn-group .play-btn {
  margin-left: 40px;
  display: inline-flex;
}

.play-btn-inner {
  height: 50px;
  width: 50px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-color: #22427C;
  margin-left: -30px;
}
.btn-group span {
  color: #000;
  font-size: 15px;
  font-weight: 700;
  margin:  auto 20px;
  cursor: pointer;
}

.play-btn-inner i {
  padding: 15px 19px;
  font-size: 16px;
  cursor: pointer;
}

.app-picture img{
  width: 50%;
  height: 100%;
}

nav {
  width: 65%;
  margin-left: 215px;
  margin-top: 100px;

}
