<form novalidate class="cont" [formGroup]="LoginForm" #Loginform="ngForm" (ngSubmit)="onSubmit()">
  <div class="form sign-in">
    <h2>Welcome back,</h2>
    <label>
      <span>Email</span>
      <input type="email"
             formControlName="email"
             [(ngModel)]="email"
             required
             id="email"
             ngModel name="email"
             class="form-control"/>
      <div *ngIf="formErrors.email">{{formErrors.email}}</div>
    </label>


    <label>
      <span>Password</span>
      <input type="password"
             formControlName="password"
             required
             id="password"
             ngModel name="password"
             class="form-control">
      <div *ngIf="formErrors.password">{{formErrors.password}}</div>
    </label>

<!--    (click)="login(LoginForm.value)"-->
    <button type="submit" class="submit"
            [routerLink]="['forum',email]" [disabled]="LoginForm.invalid" >Login</button>
<!--    <button  class="submit"  (click)="close()"> Cancel </button>-->

    <!--    <button type="button" class="fb-btn">Connect with <span>facebook</span></button>-->
  </div>
  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>One of us?</h2>
        <p>If you already has an account, just sign in. We've missed you!</p>
      </div>

      <div class="img__btn" (click)="openRegisterForm()">
        <span class="m--up" >Register</span>
<!--        <span class="m&#45;&#45;in" >Login</span>-->
      </div>
    </div>
  </div>
</form>

