<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->


    <!-- Login Form -->
    <form>
      <input type="text" id="name" class="fadeIn first" name="name" placeholder="name">
      <input type="text" id="firstName" class="fadeIn second" name="firstname" placeholder="first name">
      <input type="text" id="job" class="fadeIn third" name="job" placeholder="job">
      <input type="text" id="mail" class="fadeIn fourth" name="job" placeholder="mail">
      <input type="text" id="phoneNumber" class="fadeIn fourth" name="phoneNumber" placeholder="phone number">
      <input type="submit" class="fadeIn fourth" value="Submit">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a [routerLink]="['createCV']" class="underlineHover" href="#">See template</a>
    </div>

  </div>
</div>
