<div class="wrapper" >
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="input-group" id="adv-search">
        <input type="text" class="form-control" placeholder="Search for jobs" />
        <div class="input-group-btn">
          <div class="btn-group" role="group">
            <div class="dropdown dropdown-lg">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
              </button>
              <div class="dropdown-menu dropdown-menu-right" role="menu">
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                   <label >Filter by</label>
                    <select class="form-control">
                      <option value="0" selected>Jobs by location</option>
                      <option value="1">Tunisia</option>
                      <option value="2">Europe</option>
                      <option value="3">United States</option>
                      <option value="4">Others</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label >Jobs by sector</label>
                    <input class="form-control" type="text" />
                  </div>
                  <div class="form-group">
                   <label >Jobs by company</label>
                    <input class="form-control" type="text" />
                  </div>
                  <button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
              </div>
            </div>
            <button type="button" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <span id="formFooter">
    <span>Are you a company ?</span>
     <a [routerLink]="['postJob']" >
      Post a job opportunity
     </a>
  </span>
</div>

<!--opportunities-->
<div class="social-box">
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-xs-12 text-center">
        <div class="box">
          <i class="fa fa-behance fa-3x" style="color: mediumturquoise" aria-hidden="true"></i>
          <div class="box-title">
            <h3>Behance</h3>
          </div>
          <div class="box-text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
          </div>
          <div class="box-btn">
            <a class="btn btn-outline-light" href="blog-single.html">read more</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-xs-12  text-center">
        <div class="box">
          <i class="fa fa-twitter fa-3x" style="color: mediumturquoise" aria-hidden="true"></i>
          <div class="box-title">
            <h3>Twitter</h3>
          </div>
          <div class="box-text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
          </div>
          <div class="box-btn">
            <a class="btn btn-outline-light" href="blog-single.html">read more</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-xs-12 text-center">
        <div class="box">
          <i class="fa fa-facebook fa-3x" style="color: mediumturquoise" aria-hidden="true"></i>
          <div class="box-title">
            <h3>Facebook</h3>
          </div>
          <div class="box-text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
          </div>
          <div class="box-btn">
            <a class="btn btn-outline-light"  href="blog-single.html">read more</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-xs-12 text-center">
        <div class="box">
          <i class="fa fa-pinterest-p fa-3x" style="color: mediumturquoise" aria-hidden="true"></i>
          <div class="box-title">
            <h3>Pinterest</h3>
          </div>
          <div class="box-text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
          </div>
          <div class="box-btn">
            <a class="btn btn-outline-light"  href="blog-single.html">read more</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-xs-12 text-center">
        <div class="box">
          <i class="fa fa-google-plus fa-3x" style="color: mediumturquoise" aria-hidden="true"></i>
          <div class="box-title">
            <h3>Google</h3>
          </div>
          <div class="box-text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
          </div>
          <div class="box-btn">
            <a class="btn btn-outline-light" href="blog-single.html">read more</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-xs-12 text-center">
        <div class="box">
          <i class="fa fa-github fa-3x" style="color: mediumturquoise" aria-hidden="true"></i>
          <div class="box-title">
            <h3>Github</h3>
          </div>
          <div class="box-text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
          </div>
          <div class="box-btn">
            <a class="btn btn-outline-light"  href="#">read more</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!--opportunities-->
