<div class="wrapper" >
  <h1>Looking for an internship ?</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="input-group" id="adv-search">
          <input type="text" class="form-control" placeholder="Search for an internship" />
          <div class="input-group-btn">
            <div class="btn-group" role="group">
              <div class="dropdown dropdown-lg">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <span class="caret"></span></button>
                <div class="dropdown-menu dropdown-menu-right" role="menu">
                  <form class="form-horizontal" role="form">
                    <div class="form-group">
                      <label >Filter by</label>
                      <select class="form-control">
                        <option value="0" selected>Filter by location</option>
                        <option value="1">Tunisia</option>
                        <option value="2">Europe</option>
                        <option value="3">United States</option>
                        <option value="4">Others</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label >Filter by sector</label>
                      <input class="form-control" type="text" />
                    </div>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
                  </form>
                </div>
              </div>
              <button type="button" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span id="formFooter">
      <span>Are you a company ?</span>
     <a [routerLink]="['postJob']">Post an internship opportunity</a>
  </span>
</div>

