.container{
  padding : 50px 0px 0px 0px;
}

.container h1{
  font-family: "PT Sans Narrow";
  font-weight: bold;
  font-size: 60px;
  line-height: 1;
  margin: 60px 0px 0px 40px;
  color: #22427C;
}
.container .lead{
  font-family: "PT Sans Narrow";
  font-size: 25px;
  line-height: 1.1;
  margin: 10px 0px 0px 43px;
}

.search{
  margin: 40px 0px 0px 0px;
  height: 60px;
  background-color: #d3dae9;
  border-radius: 30px;
  padding: 10px;
}

.search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s;
}

.search:hover > .search_input{
  padding: 0 10px;
  width: 330px;
  caret-color:red;
  transition: width 0.4s linear;
}

.search:hover > .search_icon{
  background: white;
  color: #22427C;
}

.search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
  text-decoration:none;
}
#formFooter{
  margin: 0px 0px 0px 750px;
  font-size: large;
  background-color: lightsteelblue;
  border-top: 1px solid #dce8f1;
  padding: 27px 20px 27px;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 10px 10px 10px 10px;
  opacity: 60%;
  display: inline-block;
  width: auto;
}
#formFooter:hover{
  background-color: #d3dae9;
  opacity: 100%;
}

.social-box .box{
  background: #FFF;
  border-radius: 10px;
  padding: 40px 10px;
  margin: 20px 0px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.social-box .box:hover{
  box-shadow: 0 0 6px #4183D7;
}

.social-box .box .box-text{
  margin:20px 0px;
  font-size: 15px;
  line-height: 30px;
}

.social-box .box .box-btn a {
  color: #0d0d0d;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  padding: 8px 20px;
  font-weight: 600;
  border: 1px solid;
  position: relative;
  z-index: 1;
  transition: .2s ease;
  border-radius: 15px 15px 15px 15px;
}

.pagination{
  margin-left: 550px;
}
.pagination>li>a {
  border-radius: 50% !important;
  margin: 0 5px;
}
