<div class="container">
  <div class="row">
    <div class="col-lg-6 order-1 order-lg-2" >
      <h1 class="ultra">Find the right internship for you</h1>
      <p class="lead">Gain work experience & kickstart your career.</p>
      <div class="d-flex justify-content-center h-100">
        <div class="search">
          <input class="search_input" type="text" name="" placeholder="Search..">
          <a  class="search_icon"><i class="fa fa-search"></i></a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 order-2 order-lg-1"><img src="../assets/images/findinternship.png" class="img-fluid"></div>
  </div>
</div>
<span id="formFooter">
      <span>Are you a company ?</span>
     <a [routerLink]="['postJob']"> Post an internship opportunity</a></span>
<!--opportunities-->
<div class="social-box">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-xs-12 text-center">
        <div class="box">
          <i class="fa fa-behance fa-3x" style="color: #22427C" aria-hidden="true"></i>
          <div class="box-title">
            <h3>Behance</h3>
          </div>
          <div class="box-text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
          </div>
          <div class="box-btn">
            <a class="btn btn-outline-light" href="blog-single.html">read more</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-xs-12  text-center">
        <div class="box">
          <i class="fa fa-twitter fa-3x" style="color: #22427C" aria-hidden="true"></i>
          <div class="box-title">
            <h3>Twitter</h3>
          </div>
          <div class="box-text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
          </div>
          <div class="box-btn">
            <a class="btn btn-outline-light" href="blog-single.html">read more</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-xs-12 text-center">
        <div class="box">
          <i class="fa fa-facebook fa-3x" style="color: #22427C" aria-hidden="true"></i>
          <div class="box-title">
            <h3>Facebook</h3>
          </div>
          <div class="box-text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
          </div>
          <div class="box-btn">
            <a class="btn btn-outline-light"  href="blog-single.html">read more</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-xs-12 text-center">
        <div class="box">
          <i class="fa fa-pinterest-p fa-3x" style="color: #22427C" aria-hidden="true"></i>
          <div class="box-title">
            <h3>Pinterest</h3>
          </div>
          <div class="box-text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
          </div>
          <div class="box-btn">
            <a class="btn btn-outline-light"  href="blog-single.html">read more</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-xs-12 text-center">
        <div class="box">
          <i class="fa fa-google-plus fa-3x" style="color: #22427C" aria-hidden="true"></i>
          <div class="box-title">
            <h3>Google</h3>
          </div>
          <div class="box-text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
          </div>
          <div class="box-btn">
            <a class="btn btn-outline-light" href="blog-single.html">read more</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-xs-12 text-center">
        <div class="box">
          <i class="fa fa-github fa-3x" style="color: #22427C" aria-hidden="true"></i>
          <div class="box-title">
            <h3>Github</h3>
          </div>
          <div class="box-text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
          </div>
          <div class="box-btn">
            <a class="btn btn-outline-light"  href="#">read more</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!--opportunities-->

<!--pagination-->
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">«</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">»</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
<!--pagination-->

