<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->


    <!-- Login Form -->
    <form>
      <input type="text" id="title" class="fadeIn first" name="title" placeholder="job title">
      <input type="text" id="domain" class="fadeIn second" name="domain" placeholder="domain">
      <input type="text" id="link" class="fadeIn third" name="link" placeholder="link">
      <input type="text" id="published_on" class="fadeIn fourth" name="date" placeholder="date">
      <input type="text" id="description" class="fadeIn fourth" name="description" placeholder="description">
      <input type="submit" class="fadeIn last" value="Submit">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a [routerLink]="['createCV']" class="underlineHover" href="#">See template</a>
    </div>

  </div>
</div>
