<div class="banner">
  <div class="app-text">
    <h3>Searching for services ?</h3>
    <h1>Ressources and Services<br></h1>
    <p>You'll find news, documents, services and many other ressources</p>
    <div class="d-flex justify-content-center h-100">
      <div class="search">
        <input class="search_input" type="text" name="" placeholder="Search..">
        <a  class="search_icon"><i class="fa fa-search"></i></a>
      </div>
    </div>

  </div>
  <div class="app-picture">
    <img src="assets/images/res.jpg" alt="">
  </div>
</div>
