
<!--<div id="cov" class="card" style="width: 50rem;">-->
<!--  <img class="card-img-top" src="assets/images/slider_form.jpg" alt="Card image cap">-->
<!--  <div class="card-body">-->
<!--    <h4 class="card-title">Card title</h4>-->
<!--    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--    <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="open">-->
<!--  <div class="layer"></div>-->
<!--  <div class="layer"></div>-->
<!--</div>-->
<section>
  <div class="bannerText">
    <h2>Ressources</h2><br>
    <h3>Discover new services</h3>
    <p>You'll find various services and ressources that may help you
    in your studies. Many free online courses, news and even
      administrative documents concerning your university are provided. </p>
    <a routerLink="/listeRessources">Discover services</a>
  </div>
  <img src="assets/images/service2.png" class="bulb">

  <div class="element1"></div>
  <div class="element2"></div>
</section>






