
<div class="contenu">
  <!--nav-bar-->
  <nav>
    <label class="logo">Ressources & services</label>
    <ul>
      <li>
        <a><i class="fa fa-search" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </nav>

  <div class="contenu">
    <h1 *ngIf="ressources"><b>{{ressources[0].category}}</b> </h1>
    <div class="container">
      <div class="row" >
        <div *ngFor="let ressource of ressources" >
          <div  class="cards"  style="width: 18rem; height: 25rem;">
            <div class="inner" (click)="detail(ressource.id)">
              <img class="card-img-top" src="{{ressource.image}}">
            </div>
            <div class="card-body text-center">
              <h4 class="card-title"><b>{{ressource.title}}</b></h4>
              <a  class="btn btn-dark text-white">{{ressource.category}}</a>
              <div><p class="card-text">{{ressource.description}}
                <a href="{{ressource.link}}">{{ressource.link}}</a>
              </p></div>
              <a [routerLink]="['/detailRessource', ressource.id]">Read more >></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
