<div class="contenu">
  <app-ressources></app-ressources>

  <div class="container">
<body>
    <section class="carousel" >
      <a class="category" (click)="lister('formation')" >Formation</a>
      <ul class="carousel-items" *ngIf="cRessources">
        <li class="carousel-item" *ngFor="let ressource of cRessources">
          <div class="card" style="width: 280px; height: 325px" [routerLink]="['/detailRessource', ressource.id]">
		<span class="card-header" style="background-image: url({{ressource.image}});">
				<span class="card-title">
					<h3>{{ressource.title}}</h3>
				</span>
			</span>
            <span class="card-summary">
				<div>A summary will also be present. Usually two to three brief sentences about the content on the detail page.</div>
			</span>
            <span class="card-meta">
          <a class="read_more" [routerLink]="['/detailRessource', ressource.id]">Read more</a>
			</span>
          </div>
        </li>
      </ul>
    </section>
    <div [hidden]="cRessources || errMess">
      <img src="assets/images/loader.gif" alt="">
    </div>

    <section class="carousel">
      <a class="category" (click)="lister('documents')" >Documents</a>
      <ul class="carousel-items" *ngIf="dRessources">
        <li class="carousel-item" *ngFor="let ressource of dRessources">
          <div class="card" style="width: 280px; height: 325px" [routerLink]="['/detailRessource', ressource.id]">
            <span class="card-header" style="background-image: url({{ressource.image}});">
				<span class="card-title">
					<h3>{{ressource.title}}</h3>
				</span>
			</span>
            <span class="card-summary">
				<div>A summary will also be present. Usually two to three brief sentences about the content on the detail page.</div>
			</span>
            <span class="card-meta">
          <a class="read-more" [routerLink]="['/detailRessource', ressource.id]">Read more</a>
			</span>
          </div>
        </li>
      </ul>
    </section>

    <div [hidden]="dRessources || errMess">
      <img src="assets/images/loader.gif" alt="">
    </div>

    <section class="carousel">
      <a class="category" (click)="lister('News')" >News</a>
      <ul class="carousel-items" *ngIf="nRessources">
        <li class="carousel-item" *ngFor="let ressource of nRessources">
          <div class="card" style="width: 280px; height: 325px">
            <span class="card-header" style="background-image: url({{ressource.image}});" [routerLink]="['/detailRessource', ressource.id]">
				<span class="card-title">
					<h3>{{ressource.title}}</h3>
				</span>
			</span>
            <span class="card-summary">
				<div>A summary will also be present. Usually two to three brief sentences about the content on the detail page.</div>
			</span>
            <span class="card-meta">
          <a class="read-more" [routerLink]="['/detailRessource', ressource.id]">Read more</a>
			</span>
          </div>
        </li>
      </ul>
    </section>
    <div [hidden]="dRessources || errMess">
      <img src="assets/images/loader.gif" alt="">
    </div>
</body>
  </div>
</div>




