
.container {
  max-width: 1050px;
  background-color: #FFFFFF;
  margin-top: 580px;
}

.category {
  font-size: 25px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.cards {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 10px;
  padding: 1.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 30px;
  background: #fefff9;
  color: #363636;
  text-decoration: none;
  -moz-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
@media (max-width: 700px) {
  .card {
    width: 100%;
  }
}
@media (min-width: 700px) {
  .card {
    max-width: 320px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .card:nth-child(even) {
    margin-right: 0;
  }
}
@media (min-width: 980px) {
  .card:nth-child(even) {
    margin-right: 20px;
  }
  .card:nth-child(3n) {
    margin-right: 0;
  }
}
.card span {
  display: block;
}
.card .card-summary {
  padding: 5% 5% 3% 5%;
}
.card .card-header {
  position: relative;
  height: 175px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.15);
  background-blend-mode: overlay;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px 0 0;
}
.card .card-header:hover, .card .card-header:focus {
  background-color: rgba(255, 255, 255, 0);
}
.card .card-title {
  background: rgba(10, 45, 85, 0.85);
  padding: 3.5% 0 2.5% 0;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.card .card-title h3 {
  font-size: 1.2em;
  line-height: 1.2;
  padding: 0 3.5%;
  margin: 0;
}
.card .card-meta {
  /*max-height: 0;*/
  min-height: 20px;
  overflow: hidden;
  color: #666;
  font-size: 15px;
  text-transform: uppercase;
  position: absolute;
  bottom: 5%;
  padding: 0 5%;
  -moz-transition-property: min-height;
  -o-transition-property: min-height;
  -webkit-transition-property: min-height;
  transition-property: min-height;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.card:hover, .card:focus {
  background: white;
  -moz-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
}
.card:hover .card-title, .card:focus .card-title {
  background: rgba(10, 45, 85, 0.85);
}
.card:hover .card-meta, .card:focus .card-meta {
  max-height: 1em;
}

img {
  max-width: 100%;
}

body {
  background: #FFFFFF;
  font-size: 17px;
  line-height: 1.4;
  font-family: 'Jaldi', sans-serif;
  margin-top: 1px;
}

* {
  -moz-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -moz-transform;
  -o-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -o-transform;
  -webkit-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -webkit-transform;
  transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
/*.read-more a {*/
/*  color: #22427C;*/
/*  display: inline-block;*/
/*  position: relative;*/
/*  font-size: 500px;*/
/*}*/
/*!*img {*!*/
/*  background-size: auto;*/
/*  height: 400px;*/
/*  margin-left: 200px;*/
/*}*/


/********************************
* Basics
*********************************/
/** {*/
/*  box-sizing: border-box;*/
/*}*/


button,
input,
select,
optgroup,
textarea {
  /*color: #3d4852;*/
  /*font-family: "Muli", sans-serif;*/
  font-size: 1rem;
  line-height: 1.6;
}

h1 {
  font-size: 2rem;
  margin: 2rem auto 1rem;
  line-height: 1;
}

h2 {
  font-size: 1.25rem;
  margin-top: 0;
}

a {
  color: inherit;
  transition: 0.25s all ease-in-out;
}

a:visited {
  color: #3d4852;
}

a:hover,
a:focus,
a:active {
  background-color: #3d4852;
  color: white;
}

a:focus {
  outline: thin solid #3d4852;
}

a:hover,
a:active {
  outline: 0;
}

a.button {
  align-items: center;
  background-color: #3d4852;
  border: 1px solid #3d4852;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: inline-flex;
  padding: 0.25rem 0.75rem;
  text-decoration: none;
  transition: all 0.7s ease-in-out;
}

a.button:hover,
a.button:focus {
  background-color: #58636f;
  box-shadow: 0 0 2px 2px #bac6d3;
}

a.button:focus {
  outline: 1px solid #3d4852;
}

a.button:visited {
  color: #fff;
}

ul {
  margin: 0 0 1.5rem;
  padding: 0;
}

li {
  display: inline-block;
}

svg {
  fill: currentColor;
  width: 1.5rem;
  height: 1.5rem;
}

img {
  height: auto;
  margin-bottom: 0.5rem;
  max-width: calc(100% + 2rem);
  position: relative;
  left: -1rem;
  right: -1rem;
}

p {
  margin: 0 0 0.5rem;
}

main {
  padding: 1rem 2rem;
  margin: auto;
}

header {
  padding: 1rem 2rem;
  text-align: center;
}


body {
  /*font-family: "Muli", sans-serif;*/
  font-size: 1rem;
  line-height: 1.6;
  margin-top: 550px;
}

/*.card {*/
/*  border: 1px solid #bac6d3;*/
/*  border-radius: 8px;*/
/*  padding: 1rem;*/
/*}*/

/********************************
* Carousel styles
*********************************/

.carousel {
  margin-top: 20px;
}

.carousel-items {
  display: flex;
  overflow-x: scroll;
  padding: 1rem 0;
  scroll-snap-type: x mandatory;
}

.carousel-item {
  flex: 1 0 250px;
  margin-left: 54rem;
  scroll-snap-align: start;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  height: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #3d4852;
  border-radius: 3px;
}



/********************************
* Breakpoints
*********************************/
@media screen and (min-width: 576px) {
  .carousel-item {
    flex-basis: 300px;
  }
}

@media screen and (min-width: 992px) {
  body,
  button,
  input,
  select,
  optgroup,
  textarea {
    font-size: 1.125rem;
  }

  h1 {
    font-size: 2.75rem;
  }

  .carousel-item {
    flex-basis: 325px;
  }
}

@media screen and (min-width: 1280px) {
  h1 {
    font-size: 4rem;
  }

  .carousel-item {
    flex-basis: 450px;
  }
}

@media screen and (min-width: 1600px) {
  body,
  button,
  input,
  select,
  optgroup,
  textarea {
    font-size: 1.25rem;
  }
}
img {
  margin-left: 430px;
}
