.container{
  padding : 10px 10px 0px 0px;
}
.container h1{
  font-family: "PT Sans Narrow";
  font-weight: bold;
  font-size: 60px;
  line-height: 0.8;
  margin-top: 150px;
  color: #22427C;
}
.container .lead{
  font-family: "PT Sans Narrow";
  font-size: 25px;
  line-height: 1.1;
  color: #0d0d0d;
  margin-bottom: 200px;
}
