<div class="container">
  <div class="row">
    <div class="col-lg-6 order-2 order-lg-1" >
      <h1 class="ultra">Find new ressources and services</h1>
      <p class="lead">Where courses, documents and news are provided.</p>
      <div class="d-flex justify-content-center h-100">
      </div>
    </div>
    <div class="col-lg-6 order-1 order-lg-2"><img src="../assets/images/findjob.png" class="img-fluid"></div>
  </div>
  <!--<p><a id="createCVbutton" class="btn btn-outline-primary" [routerLink]="['createCV']">Create a CV</a></p>-->
</div>
